{% extends "base.html" %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/portfolio-site.css' %}">
    <link rel="stylesheet" href="{% static '/css/midi-analyzer.css' %}">
{% endblock %}

{% block main %}

<div class="fixed-screen-height center-all">
    <div class="content">
{#        <p id="not-midi-warning" style="visibility: hidden;">MIDIファイルじゃありません！</p>#}
        <form id="file-form" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="file">
                <input type="file" name="midi-file" id="fileinput" class="inputfile"/>
                <label id="label-file" class="label-file" for="fileinput">
                <span name='text'>MIDIファイルを選択</span>
            </label>
            </p>
            <div id="button-list" style="display: none;"></div>
            <p><input type='submit' class="submit" value="解析" id="file-submit" style="display: none"></p>
        </form>
        {% load static %}
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/midi-parser.js' %}"></script>
    <script src="{% static 'js/midi-analyzer.js' %}"></script>
{% endblock %}