html {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    background-color: antiquewhite;
    margin: auto;
}


.fixed-screen-height {
    height: calc(100vh - 104px);
}

.center-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: auto;

    padding: 20px;
    max-width: 600px;
    min-width: 280px;
}

#button-list {
    margin: auto;
    max-height: 500px;
    max-width: 100%;
    border: inset;
    overflow:auto;
}


.inputfile {
    /* width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; */
    display: none;
}

.inputfile + .label-file {
    width: 90%;
    height: 65px;
    line-height: 65px;
    padding-left: 5%;
    padding-right: 5%;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: black;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.inputfile:focus + .label-file,
.inputfile + .label-file:hover {
    background-color: red;
}

.submit {
    background-color: cadetblue;
    color: white;
    height: 45px;
    width: 150px;
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}

table {
    border:none;
    border-collapse: collapse;
    /* width: 600px; */
    /* margin-top: 10px; */
    width: 100%;
}

table td {
    border-top: 25px solid antiquewhite;
    border-bottom: 25px solid antiquewhite;
    border-left: 2px outset #000;
    border-right: 2px outset #000;
    font-size: 1.5em;
    font-weight: 600;
}

tr {
    height: 85px;
}

th, td {
    padding: 15px;
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.track-button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.track-label:hover {
    background-color: red;
}


.track-label, .selected-track {
    width: 90%;
    height: 65px;
    line-height: 65px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: black;
    display: inline-block;
}

.selected-track {
    background-color: red;
}

.track-list {
    max-width: 600px;
    margin: auto;
}

.track-submit {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label-track:hover {
    background-color: red;
}

@media (max-width: 500px) {
    #label-file span {
        font-size: 0.8em;
    }


    .track-label {
        font-size: 1.3em;
    }
}

@media (max-width:600px) {
    .fixed-screen-height {
        height: calc(100vh - 72px);
    }
}