{% extends "base.html" %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/portfolio-site.css' %}">
{% endblock %}

{% block main %}

<div class="inner">
    <section id="top" class="content-section">
        <div class="top-box theme-color">
            <div>マツウラユウマ</div>
            <div>の</div>
            <div>ポートフォリオ</div>
            <a href="#works" id="down-button" class="down-button js-smooth-scroll">
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>
    </section>
    <section id="works" class="content-section">
        <!-- <div class="container"> -->
            <div class="section-title">
                <h2>制作物</h2>
                <!-- <p class="">ここに説明文</p> -->
            </div>
            <div class="section-container">
                <section id="honsul">
                    <div class="work-box global-width">
                        <div class="col-2">
                            <p class="img-box">
                                {% load static %}
                                <img class="work-image" src="{% static 'img/honsul.png' %}">
                            </p>
                            <div class="work-description">
                                <div class="work-title">
                                    <h3>本サルタント</h3>
                                    <p class="sub-title">読書SNS</p>
                                </div>
                                <p>
                                    読んだ本について質問・回答できるiOSアプリです。
                                    本についているバーコードをiPhoneのカメラで読み取ることで、自分の本棚に登録できます。
                                </p>
                                <h4>技術</h4>
                                <p>
                                    サーバーはPythonのFlaskで、RESTfulなAPIを提供しています。
                                </p>
                                <p>
                                    メールアドレス認証、パスワード変更、モデルへのCRUDといった基本的な動作に加え、
                                    本の情報をamazonのAPIから取得することなどもできます。
                                </p>
                            </div>

                        </div>
                        <ul class="tech-logos">
                            <li><img src="{% static 'img/tech-logos/python.svg' %}" alt="python,logo"></li>
                            <li><img src="{% static 'img/tech-logos/flask.svg' %}" alt="flask,logo"></li>
                            <li><img src="{% static 'img/tech-logos/swift.svg' %}" alt="swift,logo"></li>
                            <li><img src="{% static 'img/tech-logos/heroku.svg' %}" alt="heroku,logo"></li>
                        </ul>
                        <div class="btn-wrap">
                            <a class="theme-color" href="https://itunes.apple.com/jp/app//id1451925807?mt=8" target="_blank">
                                App Store
                            </a>
                        </div>
                    </div>
                </section>
                <section id="portfolio">
                    <div class="work-box global-width">
                        <div class="col-2 flex-rev">
                            <p class="img-box">
                                {% load static %}
                                <img class="work-image" src="{% static 'img/portfolio.png' %}">
                            </p>
                            <div class="work-description">
                                <div class="work-title">
                                    <h3>ポートフォリオサイト</h3>
{#                                    <p class="sub-title">このサイト</p>#}
                                </div>
                                <p>
                                    このサイトです。
                                    <br>
                                    ホスティングサービスなどを使わず、Linuxサーバを０から構築することを目標にしました。
                                </p>
                                <h4>技術</h4>
                                <p>
                                    DjangoアプリとNginxをdocker-composeでコンテナ化しています。
                                    githubのmasterブランチへのpushにより、CircleCIがVPS上に自動デプロイします。
                                    また、https対応はLet's Encryptを使用しています。
                                </p>
                                <p>
                                    bootstrapなどは使用せず、cssはスクラッチから記述しました。
                                </p>
                                <p>
                                </p>
                            </div>

                        </div>
                        <ul class="tech-logos">
                            <li><img src="{% static 'img/tech-logos/python.svg' %}" alt="python,logo"></li>
                            <li><img src="{% static 'img/tech-logos/django.svg' %}" alt="django,logo"></li>
                            <li><img src="{% static 'img/tech-logos/docker.svg' %}" alt="docker,logo"></li>
                            <li><img src="{% static 'img/tech-logos/circleci.svg' %}" alt="circleci,logo"></li>
                            <li><img src="{% static 'img/tech-logos/letsencrypt.svg' %}" alt="letsencrypt,logo"></li>
                        </ul>
                    </div>
                </section>
                <section id="portfolio">
                    <div class="work-box global-width">
                        <div class="col-2">
                            <p class="img-box">
                                {% load static %}
                                <img class="work-image" src="{% static 'img/midi-analyzer.png' %}">
                            </p>
                            <div class="work-description">
                                <div class="work-title">
                                    <h3>コード進行解析ツール</h3>
{#                                    <p class="sub-title">このサイト</p>#}
                                </div>
                                <p>
                                    MIDIファイルを解析し、コード（和音）進行をテキスト化して返すwebアプリです。
                                </p>
                                <h4>技術</h4>
                                <p>
                                    JSを使用することで、MIDI/非MIDIの判別やトラック名の取得などをフロントで行っています。
                                    また、動的なDOM生成やAJAX（fetch）によって、リロード無しでの利用が可能です。
                                </p>
                                <p>
                                    このポートフォリオサイトの一部として運用中です。
                                </p>
                                <p>
                                </p>
                            </div>

                        </div>
                            <div class="btn-wrap">
                                <a class="theme-color" href="/midi-analyzer/" target="_blank">サイト</a>
                            </div>
                    </div>
                </section>
                <section id="sabigara-blog">
                    <div class="work-box global-width">
                        <div class="col-2 flex-rev">
                            <p class="img-box">
                                <img class="work-image" src="{% static 'img/sabigara-blog.png' %}">
                            </p>
                            <div class="work-description">
                                    <div class="work-title">
                                        <h3>sabigara Blog</h3>
                                        <p class="sub-title">作曲ブログ</p>
                                    </div>
                                <p>
                                    パソコンによる作曲の仕方などを解説するブログです。
                                    「書きたいことを書く」というよりも、広告収入を目的として運営しています。
                                </p>
                                <p>
                                    Google AnalyticsやSearch Consoleを使用し、SEOを意識したコンテンツを作成しています。
                                    その効果もあり、記事数のわりにはそれなりの集客・収益を実現できています。
                                </p>
                                <h4>実績<span class="sub-title">（2019年6月現在）</span></h4>
                                <dl>
                                    <dt>月間PV：</dt>
                                    <dd>３万</dd>
                                    <dt>月間収益：</dt>
                                    <dd>３万</dd>
                                    <dt>記事数：</dt>
                                    <dd>８０</dd>
                                </dl>
                            </div>
                        </div>
                        <ul class="tech-logos">
                                <li><img src="{% static 'img/tech-logos/wordpress.svg' %}" alt="wordpress,logo"></li>
                        </ul>
                        <div class="btn-wrap">
                            <a class="theme-color" href="https://sabi-gara.com" target="_blank">サイト</a>
                        </div>
                    </div>
                </section>
    </section>
    <section id="skill" class="content-section">
        <div class="section-title">
            <h2>スキル</h2>
        </div>
        <div class="boxes global-width section-container">
            <div id="server-lang" class="box">
                <h3>サーバーサイド</h3>
                <ul class="tech-logos">
                    <li><img src="{% static 'img/tech-logos/python.svg' %}" alt="python,logo"></li>
                    <li><img src="{% static 'img/tech-logos/flask.svg' %}" alt="flask,logo"></li>
                    <li><img src="{% static 'img/tech-logos/csharp.svg' %}" alt="csharp"></li>
                </ul>
                <div class="box-description">
                    <p>
                        WEBやツール制作のメインはPythonです。
                        「マイクロフレームワーク」と呼ばれるFlaskを使うことで、さまざまな機能追加の経験が得られました。
                    </p>
                    <p>
                        前勤務先ではC#による業務系.NETアプリを開発していました。
                    </p>
                </div>
            </div>
            <div id="server-middleware" class="box">
                <h3>ミドルウェア</h3>
                <ul class="tech-logos">
                    <li><img src="{% static '/img/tech-logos/mysql.svg' %}" alt="mysql,logo"></li>
                    <li><img src="{% static 'img/tech-logos/docker.svg' %}" alt="docker,logo"></li>
                    <li><img src="{% static 'img/tech-logos/nginx.svg' %}" alt="nginx,logo"></li>
                    <li><img src="{% static 'img/tech-logos/bash.svg' %}" alt="bash,logo"></li>
                </ul>
                <div class="box-description">
                    <p>
                        Linux環境でのWEBサービス構築はひと通り可能です。
                        DockerコンテナをVPSやEC2上へデプロイした経験もあります。
                    </p>
                </div>
            </div>
            <div id="front-lang" class="box">
                <h3>フロントエンド</h3>
                <ul class="tech-logos">
                    <li><img src="{% static 'img/tech-logos/swift.svg' %}" alt="swift,logo"></li>
                    <li><img src="{% static 'img/tech-logos/html.svg' %}" alt="html,logo"></li>
                    <li><img src="{% static 'img/tech-logos/css.svg' %}" alt="css,logo"></li>
                    <li><img src="{% static 'img/tech-logos/js.svg' %}" alt="js,logo"></li>
                </ul>
                <div class="box-description">
                    <p>
                        「本サルタント」のクライアントアプリはSwift製です。
                        このサイトはフレームワークを使わず、htmlコーディングで作成しました。
                    </p>
                    <p>
                        どちらかというとサーバーサイドがメインですが、機会があればフロントも深めていきたいです。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="content-section">
        <div class="container">
            <div class="section-title">
                <h2>お問い合わせ</h2>
                <!-- <p class="">ここに説明文</p> -->
            </div>
            <div class="contact-form global-width section-container">
                <div class="form-box">
                    <form id="contact-form">
                        {% csrf_token %}
                        <dl>
                            <dt>名前</dt>
                            <dd>
                                <input type="text" name="name" required placeholder="田中 太郎">
                            </dd>
                            <dt>ふりがな</dt>
                            <dd>
                                <input type="text" name="kana" required placeholder="たなか たろう">
                            </dd>
                            <dt>メールアドレス</dt>
                            <dd><input type="email" name="email" required placeholder="example@test.com"></dd>
                            <dt>お問い合わせ・ご質問内容</dt>
                            <dd><textarea name="message" cols="20" rows="5" required></textarea></dd>
                        </dl>
                        <p class="submit">
                            <input type="submit" name="submit" value="送信" class="theme-color">
                            <img src="{% static '/img/spinner.svg' %}" alt="spinner">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}


{% block script %}
    <script type="module" src="{% static 'js/smoothscroll.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}