<!DOCTYPE html>

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/resume.css' %}">
    <link rel="stylesheet" href="{% static '/css/resume.css' %}" type="text/css" media="print" />
{% endblock %}


<html lang="en-US">
  <body>
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="project_title">職務経歴書</h1>
        <p id="name">松浦悠磨</p>
      </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<h2>スキル</h2>
<h3>Python (3.x)</h3>
<ul>
<li>メインの言語として半年ほど使用</li>
<li>フレームワークはFlaskとDjango（Djangoは少しだけ）</li>
<li>APIサーバの構築、ORMによるDB操作、BSやSeleniumによるWebスクレイピングなど</li>
</ul>
<h3>Swift (4.x)</h3>
<ul>
<li>SNSアプリを制作し、App Storeで公開</li>
<li>Pythonバックエンドとの非同期通信、アクセストークンの管理、プッシュ通知の実装など</li>
</ul>
<h3>C#</h3>
<ul>
<li>前職で半年ほど使用</li>
<li>.NetFrameworkによるWindowsデスクトップアプリ制作</li>
</ul>
<h3>html, css, JavaScript</h3>
<ul>
<li>簡単なレスポンシブ対応サイトの作成</li>
</ul>
<h3>インフラ</h3>
<ul>
<li>Linuxの基本的な操作</li>
<li>docker-compose を使用した、アプリ + webサーバ + DB環境の構築</li>
<li>Nginxの設定（http/www -&gt; https/non-wwwのURL正規化など）</li>
<li>CircleCIを使った自動デプロイ</li>
<li>Let’s Encryptを使ったhttps対応</li>
</ul>
<h3>SEO</h3>
<ul>
<li>ブログ記事による集客</li>
<li>Adsense, Amazon Associate, Access Tradeによる収益化</li>
<li>実績
<ul>
<li>アクセス： 4万PV/月</li>
<li>収益： 3万円/月</li>
</ul></li>
</ul>
<h2>職務経歴（個人開発含む）</h2>
<h3>読書SNS「本サルタント」（2018年12月 - 2019年3月）</h3>
<p>読書をしていて浮かんだ疑問をユーザー同士で質問・回答できるiOSアプリを個人で開発しました。</p>
<h4>担当業務</h4>
<p>全て</p>
<h4>使用技術</h4>
<ul>
<li>APIサーバ： Flask</li>
<li>フロント： Swift</li>
<li>DB： PostgreSQL</li>
<li>ホスト： heroku</li>
<li>書籍情報： Amazon Product Advertising API</li>
</ul>
<h4>工夫点</h4>
<h5>サービス本体をプラットフォームに依存させないようにした</h5>
<p>Webサービスのマルチプラットフォーム対応は当たり前であり、ブラウザ・iOS・Androidのどこからでもアクセスできる必要があります。</p>
<p>そのために、ロジック部分は完全にAPI化し、クライアントを自由に拡張できるようにしました。</p>
<h5>ユーザ負担の少ないUI設計を目指した</h5>
<p>最近のiPhoneは大型なので、ユーザがストレスなく操作するために、コントロールはできるだけ下部に集中させるべきだと考えます。</p>
<p>そのために、ページごとに最も重要な機能を１つだけグローバルボタンにアサインし、常に表示させるようにしました。</p>
<h4>課題点</h4>
<h5>環境構築に失敗した</h5>
<p>当時はDockerなどのコンテナ技術や仮想化の重要性に気づいておらず、不必要で手間のかかる方法で環境構築をしていました。</p>
<p>ローカル環境をグローバルに変更してしまうこともあり、これではプロダクトごとの本番/開発環境の管理が不可能です。</p>
<p>この問題を解決するため、Dockerについて学び、この次に作成したポートフォリオサイトでは実際に使用しました。</p>
<h5>セキュリティ意識が甘かった</h5>
<p>AWSキーをハードコードしたままgit管理に加えてしまうなど、典型的なミスがありました。</p>
<p>このような危険を避けるため、環境変数を使用することを学びました。</p>
<h3>ポートフォリオサイト （2019年6月）</h3>
<p>就職活動用に自分の作品を整理・公開するために作成しました。</p>
<h4>担当業務</h4>
<p>全て</p>
<h4>使用技術</h4>
<ul>
<li>フレームワーク： Django</li>
<li>コンテナ： Docker</li>
<li>リバースプロキシ： Nginx</li>
<li>CI： CircleCI</li>
<li>ホスト： VPS</li>
</ul>
<h4>工夫点</h4>
<h5>より本格的・実践的なインフラ構築を行った</h5>
<p>SNS制作では、サービスやアプリのプログラミングに精一杯で、インフラ周りはherokuに任せていました。</p>
<p>２ページ程度の単純なWebサイトだったこともあり、DockerやNginx、SSL対応、CircleCIなどの構築をすべて自分で行いました。</p>
<p>仮想化・自動化を積極的に行った結果、VPSへのデプロイもそれほど悩まされることがありませんでした。</p>
<p>仮に手持ちのマシンが変わったり、新しいサーバにデプロイすることがあっても、すぐに対応することができるはずです。</p>
<h4>課題点</h4>
<h5>ネットワーク知識の不足を痛感した</h5>
<p>Linuxサーバーをゼロから構築することに一応は成功しましたが、TCP/IPやDNSなどの知識が非常に曖昧だということを思い知りました。</p>
<p>DockerやAWSがメインになるとはいえ、基礎的なネットワークの知識は不可欠だと思います。</p>
<p>最近は基礎を固めるため、LinuxやTCP/IPについての書籍を購入して読んでいます。</p>
<h3>株式会社ビー・ブレイン (2018/4 ~ 2018/9)</h3>
<p>他のエンジニアとペアで、工場向け生産管理システムを制作しました。</p>
<h4>担当業務</h4>
<ul>
<li>Windowsデスクトップアプリのプログラミング（C#）</li>
<li>（ヒアリング・要件定義・DB設計はもう１人のエンジニアが担当）</li>
</ul>
<h4>使用技術</h4>
<ul>
<li>フレームワーク： Windows Forms</li>
<li>DB： SQL Server</li>
</ul>
<h4>工夫点・気をつけたこと</h4>
<h5>綿密なコミュニケーション</h5>
<p>仕様を決めるのはパートナーのエンジニアだったため、彼と私で認識を正確に合わせる必要がありました。</p>
<p>そのために、細かいことでも「なんとなく」で終わらせず、徹底的に質問するようにしました。</p>
<p>しかし、彼自身の経験が浅かったこともあり、なかなか決めるべきことが決まらないこともよくありました。</p>
<p>そういう場合は、顧客へ質問メールを送るように促したり、スケジュールの遅れを諭すなど、要件定義の速度がボトルネックにならないよう注意しました。</p>
<h2>今の私にできること</h2>
<h3>自走できる</h3>
<p>私はプログラミングの才能があるとか、経験が豊富というわけではありません。</p>
<p>しかし、先が見えない中でも執念深く取り組み、なんとか解決できるだけの胆力があります。</p>
<p>また、常に自省して課題を見つけ、次にやるべきことを見つけ出していくことができます。</p>
<p>この自走力が無ければ、プログラミングを完全に独学で身につけたり、ブログ運営で成果を出すことはできなかったと思います。</p>
<p>貴社で働いていく上でも、自律的にやるべきことをやっていくつもりです。</p>
<h3>フロントからサーバまでひと通り対応できる</h3>
<p>個人で開発することばかりだったので、１から１０まで自分で実装してきました。</p>
<p>まだ曖昧な知識ばかりではありますが、少しでも色々なものに触れてきたという経験はチームでの開発にも役に立つはずです。</p>
<h3>新しい技術を積極的に吸収できる</h3>
<p>「新しい」というのは、「自分が知らない」という意味です。</p>
<p>私にとってエンジニアリングは「新しい」ことばかりなので、古い技術であっても関心を持って学べます。</p>
<p>数十年変わっていないLinuxコマンドも、最新のクラウド技術も同じように面白いと感じます。</p>
<h2>志望動機</h2>
<h3>モダンな技術を学び、業務に活かしたい</h3>
<p>貴社は最先端のVRサービスをクラウド上に展開するなど、最新技術へのキャッチアップに力を入れていると感じました。</p>
<p>私としても、この先サーバーサイドエンジニアとして生存していくために、AWSやGCPを学ばないという選択肢はないと思っています。</p>
<p>しかし、プログラミングやLinuxなどは独学できても、クラウドを個人で構築するのは現実的ではありません。</p>
<p>採用していただけたら、すでに持っている技術でしっかりと貢献しつつ、一方で最新技術は学ばせていただきながら、少しずつでも成果を還元していきたいです。</p>
      </section>
    </div>
  </body>
</html>
